@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i');

body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;


    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}


.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;

    background-image: url("../img/header.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.top {
    width: 100%;
    height: 120px;
    background: rgba(87, 85, 77, 0.6);
}

.top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.logo{
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo-first {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    width: 58px;
    height: 67px;
    margin-right: 10px;
    background-image: url("../img/logo-polygon.png");
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-second {
    color: #fff;
    font-size: 32px;
}

.logo-second .selected {
    font-weight: bold;
}

.selected{
     color: #1fd8b3;
}


.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 650px;
}

.nav-item {
    display: flex;
    align-self: stretch;
    align-items: center;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    color: #d4d4d4;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-item i {
    font-size: 22px;
}

.nav-item.active::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    background-color: #1fd8b3;
    height: 2px;
    box-sizing: border-box;
    margin: 0 auto 0;
}

.nav-item:hover {
    color: #1fd8b3;
}



.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.header-content-heading-primary {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 45px;
}

.header-content-heading-second {
    color: #fff;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 40px;
}

.header-content-heading-third {
    color: #d4d4d4;
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 145px;
}

.btn{
    position: relative;
    width: 165px;
    height: 60px;
    background-color: #1fd8b3;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
}


.button-explore{
    transform-style: preserve-3d;
}

.button-explore::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    background-color: #fff;
    width: 165px;
    height: 60px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    transform: translateZ(-1px);
}



.button-purchase{
    transform-style: preserve-3d;
    margin-left: 30px;
}

.button-purchase::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    background-color: #fff;
    width: 165px;
    height: 60px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    transform: translateZ(-1px);
}





.skills {
    display: flex;
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    border-top: 7px solid;
    width: 25%;
    height: 375px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.skill:nth-child(odd) {
    color: #1fd8b3;
    background-color: #1c2a33;
    border-color: #1fd8b3;
}

.skill:nth-child(even) {
    color: #fff;
    background-color: #1fd8b3;
    border-color: #fff;
}

.skill p {
    height: 40%;
}


.skill .skill-image {
    display: flex;
    align-items: center;
    height: 65%;
}



.our-services-section {
    padding: 80px 0 100px;
}

.our-services {
    padding-top: 110px;
}


.tabs {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.tab-contents {
    display: flex;
    background-color: #F5F9FB;
}

.tab-contents li {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-color: #EBEDED;
    position: relative;
    height: 75px;
    width: 16.66%;
    cursor: pointer;
}

.tab-contents li:last-child {
    border-right-width: 1px;
}

.tab-contents li.active {
    color: #fff;
    background-color: #1fd8b3;
    border: #1fd8b3 1px solid;
}

.tab-contents li.active:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -11px;
    width: 23px;
    height: 13px;
    margin: 0 auto 0;
    border: none;
    background-image: url("../img/rectangle.png");
}

.tab-content {
    display: none;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    margin-top: 25px;
}

.tab-content.active {
    display: flex;
    color: inherit;
}

.tab-image {
    width: 195px;
    margin-right: 20px;
    border: gray 1px solid;
    align-self: flex-start;
}

.tab-content p {
    text-align: justify;
}




.title-underline::before, .title-underline::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1fd8b3;
    width: 76px;
    height: 1px;
    border: none;
    margin: 0 auto 0;
}


.title-underline::before {
    bottom: -37px;
}
.title-underline::after {
    left: 12px;
    bottom: -41px;
}

.section-title {
    position: relative;
    color: #4e4e4e;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
}




.install {
    padding: 125px 0 125px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/section-2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.title {
    color: #1fd8b3;
    font-size: 33px;
    font-weight: 400;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.description {
    color: #d8d8d8;
    font-size: 16px;
    margin-bottom: 80px;
}



.our-work-section {
    background-color: rgb(240, 242, 243);
    padding: 97px 0 100px;
}


.our-work {
    padding-top: 100px;
}


.filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 14px;
}


.filter .captions {
    display: flex;
    background-color: #fff;
    height: 58px;
}

.filter .captions li {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #EBEDED;
    position: relative;
    padding: 0 20px;
    cursor: pointer;
}

.filter .captions li:last-child {
    border-right-width: 1px;
}


.filter .captions li.active:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    right: 0;
    height: 2px;
    background-color: #18cfab;
    margin: 0 auto 0;
    box-sizing: border-box;
}


.filter .content {
    display: flex;
    flex-wrap: wrap;
    margin: 70px 0;
}

.filter .content .outer {
    position: relative;
}

.filter .content .outer:hover .info {
    display: flex;
}

.filter .content .outer .info {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.filter .content .outer .info::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #18cfab;
    height: 2px;
    box-sizing: border-box;
    margin: 0 auto 0;
}

.filter .content .outer .info .info-btn-outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 120px;
}

.filter .content .outer .info .info-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #18cfab;
    border: #18cfab 1px solid;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.filter .content .outer .info .info-btn:hover {
    color: #fff;
    background-color: #18cfab;
}

.filter .content .outer .info .title {
    color:  #18cfab;
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;
    text-transform: uppercase;
}

.filter .content .outer .info .caption {
    color:  #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
}




.news-section {
    padding: 85px 0 130px;
}

.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 105px;
}

.news-item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-bottom: 45px;
    position: relative;
}

.news-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    right: 0;

    width: 70px;
    height: 70px;

    color: #fff;
    font-size: 15px;
    line-height: 25px;
    background-color: #23413b;
}

.news-info {
    background-color: #F5F9FB;
    border: #EEEFEF 1px solid;
    padding-left: 15px;
}

.news-data {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.news-title {
    color: #757575;
    line-height: 40px;
    font-weight: bold;
    font-size: 18px;
}


.news-data .news-author {
    margin-right: 15px;
}

.news-data .news-comments {
    margin-left: 15px;
}


.news-item:hover .news-date {
    background-color: #1fd8b3;
}

.news-item:hover .news-title {
    color: #1fd8b3;
}


.testimonial-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 100px;

    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("../img/section-3.jpg");
}

.testimonial-section .section-title {
    color: #fff;
}

.testimonial-section .quotes {
    margin-top: 100px;
}

.testimonial {
    margin-top: 45px;
}



.images-section{
    padding: 85px 0 90px;
}


.footer {
    color: #b8b6b6;
    font-size: 14px;
    font-weight: 300;
    background-color: #2c4350;
    padding: 47px 0 47px;
    text-align: center;
}












